@media screen and (min-width: 1250px) {
  .page-main .content-box {
    margin-left: 490px;
  }
  .page-main .content-box .site-header-main {
    margin-left: -490px;
  }
  .page-main .search-box {
    width: 400px;
  }
  .page-main .search-box .content-wrapper {
    width: 400px;
  }
  .page-main .search-box .content-wrapper .search-sub-logo {
    margin-left: 23px;
  }
  .page-main .search-box .content-wrapper .search-form {
    padding: 0 48px;
  }
  .page-main .search-box .content-wrapper .search-form .search-category .col-lg-4 {
    width: 50%;
  }
  .page-main .search-box .content-wrapper .search-form .search-category .col-lg-6 {
    width: 100%;
  }
  .page-main .search-box .content-wrapper .site-footer.main {
    padding: 29px 35px 15px;
  }
}

.search-box .content-wrapper {
  width: 400px;
}

.search-box .content-wrapper .search-sub-logo {
  margin-left: 23px;
}

.search-box .content-wrapper .search-form {
  padding: 0 48px;
}

.search-box .content-wrapper .search-form .search-category .col-lg-4 {
  width: 50%;
}

.search-box .content-wrapper .search-form .search-category .col-lg-6 {
  width: 100%;
}

.search-box .content-wrapper .search-box-handle {
  position: fixed;
  left: 90px;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.search-box .content-bg {
  width: calc(100% - 400px);
}

.search-box.on .content-wrapper .search-box-handle {
  left: 490px;
  -webkit-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}

.page-lecture-detail.block .lecture-video .video-wrapper .video .video-img .app-btn {
  width: calc(186px * 0.7);
  height: calc(76px * 0.7);
}

@media screen and (max-width: 1249px) {
  .left-side {
    border-right: 1px solid #e4e4e4;
  }
  .page-main .content-box {
    margin-left: 90px;
  }
  .page-main .content-box .site-header-main {
    margin-left: 38px;
  }
  .page-main .content-box .site-header-main .site-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .page-main .search-box {
    left: -460px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  .page-main .search-box .content-wrapper .search-box-handle {
    display: block;
    position: fixed;
    left: 90px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  .page-main .search-box.on {
    width: 100%;
    left: 90px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  .page-main .search-box.on .content-wrapper {
    height: 100vh;
    overflow: scroll;
  }
  .page-main .search-box.on .content-wrapper .search-box-handle {
    left: 640px;
    -webkit-transition: left 0.5s ease-in-out;
    transition: left 0.5s ease-in-out;
  }
  .page-main .search-box.on .content-wrapper .search-box-handle .arr {
    background-image: url(/src/images/left-arrow.png);
  }
  .page-main .search-box.on .content-bg {
    display: block;
  }
}

@media screen and (max-width: 1200px) {
  .page-part-univ .univ-list-container .univ-list .univ-item:nth-child(2) {
    border-top-right-radius: 6px;
  }
  .page-part-univ .univ-list-container .univ-list .univ-item:nth-child(3) {
    border-top-right-radius: 0px;
  }
  .page-part-univ .univ-list-container .univ-list .univ-item:nth-child(4) {
    border-bottom-left-radius: 0px;
  }
  .page-part-univ .univ-list-container .univ-list .univ-item:nth-child(5) {
    border-bottom-left-radius: 6px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1249px) {
  .page-lecture-find .site-content .result-list .lec-items a .col-lg-4 {
    width: 50%;
  }
}
