@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

// 공통

// tag-style
body {
  font-family: "Nanum Gothic";
}

ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

// id-style
#wrap {
  position: relative;
}

// class-style

// font
.n-square {
  font-family: "NanumSquare";
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

// background-image
.bg-img {
  display: inline-block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.sitemap-open {
  .menu-btn {
    background-image: url(/src/images/menu-bar-m.png);
    width: 22px;
    height: 20px;
  }
}

// btn
.btn-link {
  color: #333;
}

// site-header
.site-header {
  .lnb {
    .lnb-list {
      list-style: none;
      .lnb-item {
        float: left;
        .depth {
          list-style-type: none;
          display: none;
        }
      }
    }
  }
  .gnb {
    .login-logo {
      width: 32px;
      height: 32px;
      background-image: url(/src/images/login-icon.png);
    }
  }
}

// side-menu
.left-side {
  width: 90px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 40px;
  .menu {
    a {
      margin: 13px 0px;
    }
    a:nth-child(1) {
      background-image: url(/src/images/left-1.png);
      width: 25px;
      height: 22px;
    }
    a:nth-child(2) {
      background-image: url(/src/images/left-2.png);
      width: 23px;
      height: 19px;
    }
    a:nth-child(3) {
      background-image: url(/src/images/left-3.png);
      width: 23px;
      height: 22px;
    }
    a:nth-child(4) {
      background-image: url(/src/images/left-4.png);
      width: 23px;
      height: 22px;
    }
  }
  .sns-menu {
    a {
      width: 27px;
      height: 26px;
    }
    a:nth-child(1) {
      background-image: url(/src/images/btn-facebook.png);
      margin-bottom: 4px;
    }
    a:nth-child(2) {
      background-image: url(/src/images/btn-blog.png);
      margin-bottom: 4px;
    }
    a:nth-child(3) {
      background-image: url(/src/images/btn-youtube.png);
    }
  }
}

.right-side {
  width: 70px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  .top-btn {
    position: absolute;
    bottom: 30px;
    right: 27px;
    a {
      background-image: url(/src/images/top-btn.png);
      width: 16px;
      height: 20px;
    }
  }
}
