.page-main {
  .content-box {
    margin-left: 490px;
  }

  .search-box {
    width: 400px;

    .content-wrapper {
      width: 400px;

      .search-sub-logo {
        margin-left: 23px;
      }

      .search-form {
        padding: 0 48px;

        .search-category {
          .col-lg-4 {
            width: 50%;
          }

          .col-lg-6 {
            width: 100%;
          }
        }
      }

      .site-footer.main {
        padding: 29px 35px 15px;
      }
    }
  }
}
